<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236308904782-4uil9nt2e6hdkhr2nklv9ca6sftbu465.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236308904782-4uil9nt2e6hdkhr2nklv9ca6sftbu465</string>
	<key>API_KEY</key>
	<string>AIzaSyAsd-ZNvJhs1TCG_vXiqGnCTmTEcWWmdTo</string>
	<key>GCM_SENDER_ID</key>
	<string>236308904782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softeq.kudos</string>
	<key>PROJECT_ID</key>
	<string>softeq-kudos</string>
	<key>STORAGE_BUCKET</key>
	<string>softeq-kudos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236308904782:ios:72e8fdeac5cecb69c7fc1f</string>
	<key>DATABASE_URL</key>
	<string>https://softeq-kudos.firebaseio.com</string>
</dict>
</plist>